* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    height: 100px;
    width: 100%;
    /* position:fixed; */
    /* position: sticky; */
    background-color: #38497E;
    display:flex;
    flex-direction: row;
}

.heading-title {
    height: 50px;
    padding: 25px 20px 25px 20px;
    font-size: 40px;
    color: white;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}





/* 
heading-color: #38497E
button-color: #4C63AA
light-card: #DFDFDF
dark-card: #ABABAB
page-background:#F5F5F5 
*/